.center {
    margin-left: 2%;
    padding: 10px;
}

body{
    background-color: #55575A;
    width: 100%;
}

.banner{
    padding-top: 100px;
    margin-top: 7%;
    margin-left: 0.27%;
    margin-right: 0.25%;
    background-image: url("res/banner/download.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height:500px;
}

.navbar{
    background-color: #090B0C;
}

#elerhetosegek{
    background-color: #090B0C;
}

img{
    height: 100px;
}

/*Menu elvalaszto vonal*/
@media only screen {
    .navbar .navbar-nav .nav-item:not(:last-child)  {
      border-right: 2px solid #ffffff;
    }
}